
    @Benchmark
    public Object [[TEST]][[TEST_TYPE]][[OP_NAME]]() {
        $type$[] as = fa.apply(size);
        $type$[] bs = fb.apply(size);
        $type$[] cs = fc.apply(size);
        $type$[] rs = fr.apply(size);
        boolean[] ms = fm.apply(size);

        for (int i = 0; i < as.length; i++) {
            $type$ a = as[i];
            $type$ b = bs[i];
            $type$ c = cs[i];
            if (ms[i % ms.length]) {
              rs[i] = ($type$)([[TEST_OP]]);
            } else {
              rs[i] = a;
            }
        }
        return rs;
    }
