
    @Benchmark
    public Object [[TEST]][[TEST_TYPE]][[OP_NAME]]() {
        $type$[] as = fa.apply(size);
        $type$[] bs = fb.apply(size);
        $type$[] rs = fr.apply(size);
        boolean[] ms = fm.apply(size);

        for (int i = 0; i < as.length; i++) {
            $type$ a = as[i];
            $type$ b = bs[i];
            boolean m = ms[i % ms.length];
            rs[i] = (m ? ($type$)([[TEST_OP]]) : a);
        }

        return rs;
    }
