
    @Benchmark
    public Object [[TEST]][[TEST_TYPE]][[OP_NAME]]() {
        $type$[] as = fa.apply(size);
        $type$[] bs = fb.apply(size);
        $type$[] cs = fc.apply(size);
        $type$[] rs = fr.apply(size);

        for (int i = 0; i < as.length; i++) {
            $type$ a = as[i];
            $type$ b = bs[i];
            $type$ c = cs[i];
            rs[i] = ($type$)([[TEST_OP]]);
        }

        return rs;
    }

